.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}

.flag{
    height:600px;
    width:900px;
    margin:auto;
}
.yellow{
    background-color:#FFCD00;
}
.blue{
    background-color:#003087;
}
.red{
    background-color:#C8102E;
}
.stripe{
    width:100%;
    height:300px;
}
.stripes{
    width:100%;
    height:150px;
}